
/* Style commun pour toutes les pages ---------------------------------------*/

*{
    font-family: Helvetica, arial, sans-serif;
    color : #243442;
}

/* Wrapper pour la disposition générale des pages */

.wrapperbody {
  display: grid;
   grid-template-columns: 1fr 2fr 1fr;
   grid-template-rows: max-content max-content max-content;
   grid-gap: 75px;
   background-image: url(images/place-bourse-bordeaux.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
}


/*Style du header*/

header {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  border: 1px solid;
  border-color: #dfd7c4;
  text-align: center;
  padding: 20px;
  margin: auto;
  background-color: rgba(247, 251, 252, 0.84);
}


button{
  width: 100px;
  margin: auto;
}

/* Style du menu de navigation */

nav {
  background-color: rgba(247, 251, 252, 0.84);
  border: 2px solid;
  grid-column: 1 / 2;
  grid-row: 2 / 3 ;
  position: relative;
  border-color: #dfd7c4;
  margin: auto;
  margin-top: inherit;
  margin-bottom: auto;
}

.menu {
  display: flex;
  flex-direction: column;
  list-style-type: square;
}

.menu > li {
  justify-content: space-between;
  margin: 10px;
  font-size: 1.25rem;
}

/* Style de la partie centrale de chaque page*/

main {
  display: flex;
  grid-column: 2 / 3 ;
  grid-row: 2 / 3;
  font-size: 1.25rem;
  flex-direction: column;
  text-align: justify;
  margin: auto;
  padding: 10px;
  background-color: rgba(247, 251, 252, 0.90);
  border: 2px solid;
  border-color: #dfd7c4;
}

/* STYLE DE LA PARTIE TECHNO A DROITE DANS INDEX */

aside {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  margin: auto;
  padding: 5%;
  background-color: rgba(247, 251, 252, 0.90);
  border: 2px solid;
  border-color: #dfd7c4;
  text-align: left;
  font-size: 1.25rem;
}

aside > li {
  flex: 1;
  justify-content: space-between;
  width: max-content;
  margin: 10px;
  font-size: 1.25rem;
}


button {
background-color: rgba(247, 251, 252, 0.84);
}

/* Style du footer */

footer{
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  text-align: center;
  font-size: 1.125rem;
  font-style: italic;
  background-color: rgba(247, 251, 252, 0.60);
}

h1 {
  font-size: 2.5em;
  letter-spacing: 1px;
}


/* Les titres de grandes parties du CV sont en h2 */
h2 {
  font-size: 1.5rem;
}

.h2-center {
  text-align: center;
}

/* Nom de la formation ou ou de l'expérience pro est en gras */
h3
{font-weight: bold;
  font-size: 1.25rem;
}



/* CV FR --------------------------------------------------------------------------------*/


/* Coordonnées dans l'encart supérieur gauche */

.photo_cv {
  display: block;
  float: left;
  width:150px;
}


.stop_floatting {
  clear: both;
}


.logo-linkedin{
width: 21px;
position: relative;
}


.logo-twitter{
  width: 30px;
  top: 10px;
  left: 3px;
  position: relative;
}


.logo-git{
  width: 21px;
  position: relative;
}

.link-to-social-network {
  text-decoration: none;
  margin-right: 15px;

}


/* RESPONSIVE LAYOUT */

@media screen and (max-width: 1280px) {

    h1{
      font-size: 1.5rem;
    }

    h2 {
      font-size: 1.125rem;
      text-align: center;
    }

    .wrapperbody {
      display: grid;
       grid-template-columns: 1fr;
       grid-template-rows: max-content max-content;
       grid-gap: 20px;
    }

      header {
        display: flex;
        flex-direction: column;
        grid-column: 1 /2;
        grid-row: 1 / 2;
        border: 1px solid;
        border-color: #dfd7c4;
        text-align: center;
        padding: 20px;
        margin: auto;
        background-color: rgba(247, 251, 252, 0.84);
      }


      button {
        width: 100px;
        margin: auto;
      }

      /* Style du menu de navigation */

      nav {
        background-color: rgba(247, 251, 252, 0.84);
        border: 2px solid;
        grid-column: 1 / 2;
        grid-row: 2 / 3 ;
        position: relative;
        margin: auto;
        border-color: #dfd7c4;
        text-align: left;
        text-indent: -30px;
      }

      .menu {
        display: flex;
        flex-direction: column;
        width: auto;
      }

      .menu > li {
        justify-content: space-between;
        margin: 10px;
        font-size: 0.9rem;
        list-style: none;
      }

      /* Style de la partie centrale de chaque page*/

      main {
        display: flex;
        grid-column: 1 / 2 ;
        grid-row: 3 / 4;
        font-size: 0.8rem;
        flex-direction: column;
        text-align: left;
        margin: auto;
        padding: 10px;
        background-color: rgba(247, 251, 252, 0.90);
        border: 2px solid;
        border-color: #dfd7c4;
      }

      /* STYLE DE LA PARTIE TECHNO A DROITE DANS INDEX */

      aside {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        column-count: 2;
        column-width: 100px;
        width: 80%;
        padding: 5%;
        background-color: rgba(247, 251, 252, 0.90);
        border: 2px solid;
        border-color: #dfd7c4;
        margin: auto;
        text-align: center;
        font-size: 0.8rem;
      }

      aside > li {
        width: content;
        margin: 10px;
      }


      button {
      background-color: rgba(247, 251, 252, 0.84);
      }

      /* Style du footer */

      footer{
        grid-column: 1 / 2;
        grid-row: 5 / 6;
        margin-top: 3%;
        text-align: center;
        font-size: 0.70rem;
        font-style: italic;
        background-color: rgba(247, 251, 252, 0.60);
      }
}
