
/* Style commun pour toutes les pages ---------------------------------------*/

{
    font-family: "Open Sans","Times New Roman", arial, sans-serif;
}

/* Wrapper pour la disposition générale des pages */

.wrapperbody {
  display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 100px 100px 100px 100px;
   grid-gap: 10px;
}

header
{
  background-color: white;
  font-family: Verdana;
  grid-column: 2 / 4;
  justify-content: center;
}

nav {
  background-color: lightgrey;
  border: 2px solid;
  grid-row: 2 / 4;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu > li {
  flex: 1;
  justify-content: space-between;
}

main {
  grid-column: 2 / 4;
}

button {

}

footer{
  grid-column: -3 / -1;
}

h1 {
  font-size: 1.3em;
  font-family: "times New Roman", arial, serif;
  letter-spacing: 1px;
}


/* Les titres de grandes parties du CV sont en h2 */
h2
{
  font-size: 1.6em;
  font-family: "times New Roman", arial, serif;
  text-decoration: underline;
}


/* Nom de la formation ou ou de l'expérience pro est en gras */
h3
{

}

/* CV FR --------------------------------------------------------------------------------*/

/* Technos utilisées dans l'encart supérieur droit */
.techno_droit
{
  width: 350px;
  font-style: normal;
  font-weight: bold;
  font-variant: small-caps;
  text-align: center;
  border-style: dashed;
  padding: 10px;


}


/* Coordonnées dans l'encart supérieur gauche */
.coordonnees_gauche
{
  font-size: 1.1em;
  font-variant: small-caps;
  text-align: left;
}

.photo_cv
{
  display: block;
  float: left;
  width:150px;

}


.stop_floatting
{

  clear: both;
}



/* TAILLE DU TEXTE
 3 façons d'indiquer la taille d'un texte avec : font-size :"***"
1 - En taille absolue : px/cm/mm
2 - En taille relative : xx-small ; x-small ; small ; medium ; large: grand ; x-large: très grand ; xx-large
3 - En taille relative également en indiquant un coefficient de taille : 1em ; 0.8em ; 1.3em ; etc.
*/
